[Unit]
Description=Ignition (files)
DefaultDependencies=false
Before=initrd-parse-etc.service

Requires=initrd-root-fs.target
After=initrd-root-fs.target

Requires=ignition-disks.service
After=ignition-disks.service

Wants=remount-sysroot.service
After=remount-sysroot.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files
