[Unit]
Description=Ignition (disks)
DefaultDependencies=false

Requires=sysinit.target
After=sysinit.target

Requires=network.target
After=network.target

#Requires=local-fs-pre.target
#Before=local-fs-pre.target

Before=remount-sysroot.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
#ExecStartPre=/usr/bin/sleep 20
#ExecStartPre=/usr/sbin/dhclient
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=disks
